<h3>
  <%= @episode.name %><br>
  <%= @episode.series_name %>
</h3>

<%= @episode.render_mountain %>

<%= @episode.render_critters %>

<%= @episode.render_forest %>

<%= link_to 'Edit', edit_episode_path(@episode) %> |
<%= link_to 'Back', episodes_path %>
